## Averaging F1 scores for TR

In [127]:
import glob
import pandas as pd

files = glob.glob('*.csv') #loading all csvs into data frame
dfs = [] #empty list
for i in range(2, 18): #Loop to only load certain files to seperate TR from VL
    file_name = f'eval_loss_meta-{i}.csv'
    df = pd.read_csv(file_name)
    dfs.append(df)

df = pd.concat(dfs) #concatinate
print(f" The shape of the data frame is {df.shape}") 
df.head()

 The shape of the data frame is (22736, 21)

,batch,idx,len,loss,loss_std,objective,pre,f1,acc,rec,...,idx_label,moltype,file,db,id,pre_var,f1_var,acc_var,rec_var,mcc_var
0,0,24824,267,0.157885,0.0,0.842114,0.793822,0.842114,0.999217,0.896664,...,24824,SRP,24824_24824_Ther.teng._AE012978.ct,stralign,24824_24824_Ther.teng._AE012978,0.006477,0.004727,0.000016,0.005047,0.006880
1,1,40296,85,0.000003,0.0,0.999997,0.999997,0.999997,1.000000,0.999996,...,40296,tRNA,40296_3147_tRNA_tdbR00000250-Saccharomyces_cer...,archiveii,40296_3147_tRNA_tdbR00000250-Saccharomyces_cer...,0.000491,0.000292,0.000002,0.000295,0.000491
2,2,25941,409,0.111141,0.0,0.888859,0.968627,0.888859,0.999723,0.821229,...,25941,gpI-intron,25941_25941_Cri.S1506.ct,stralign,25941_25941_Cri.S1506,0.004536,0.002837,0.000004,0.002628,0.004177
3,3,28231,76,0.000002,0.0,0.999998,0.999999,0.999998,1.000000,0.999996,...,28231,tRNA,28231_28231_tdbD00002953.ct,stralign,28231_28231_tdbD00002953,0.000446,0.000290,0.000002,0.000294,0.000446
4,4,31007,73,0.000002,0.0,0.999998,0.999999,0.999998,1.000000,0.999996,...,31007,tRNA,31007_31007_tdbD00006255.ct,stralign,31007_31007_tdbD00006255,0.000456,0.000297,0.000003,0.000301,0.000456

In [132]:
idxsorted = df.groupby('idx')['f1'].mean().reset_index() #Averaging the f1 score per idx
print(f"The shape of the data frame is {idxsorted.shape}") #You can see that columns have been combined by the shortened length
idxsorted.head()

The shape of the data frame is (1421, 2)

    idx        f1
0  1649  0.570921
1  2725  0.540182
2  2791  0.660586
3  3238  0.639033
4  3717  0.683634

In [129]:
f1scoreTR= idxsorted['f1'].mean()
print(f1scoreTR)

0.9069758542651073

## VL data

In [133]:
#Repeated code as above with VL data
files = glob.glob('*.csv') #loading all csvs into data frame
dfsVL = [] #empty list
for i in range(19, 29): #Loop to only VL files
    file_nameVL = f'eval_loss_meta-{i}.csv'
    dfVL = pd.read_csv(file_nameVL)
    dfsVL.append(dfVL)

dfVL = pd.concat(dfsVL) #concatinate
idxVLsorted = dfVL.groupby('idx')['f1'].mean().reset_index() #Averaging 
f1scoreVL= idxVLsorted['f1'].mean()
print(f1scoreVL)

0.841064050807875

In [134]:
memscore= f1scoreTR-f1scoreVL
print(memscore)

0.06591180345723224